<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite name='Tririga Automation Regression'>

<parameter name="baseURL" value="https://shell-test.tririga.com/index.html"></parameter>
	<test name="TEST">
		 <classes>
			<class name="Tririga_TestScriptsPkg.Add_Floor_Space_UnderBuilding" />
		</classes>
		</test>

</suite>